html, body {
    font-family: Poppins;
}

header {
    position: relative;
    padding: 0px 100px;
    height: 150px;
    z-index: 1;
    box-shadow: 4px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 35px;
    font-weight: 600;
    margin: 0;
}

header .buttonContainer .button{
    margin-left: 30px;
    background-color: #3874CB;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.3s;
}

header .buttonContainer .button#traite{
    background-color: #20C905;
}

header .buttonContainer .button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

header .buttonContainer input.recherche {
    padding: 10px 25px;
    border-radius: 50px;
    margin-left: 30px;
    border: 2px solid #3874CB;
    color: #3874CB;
    font-size: 16px;
}

header .buttonContainer input.recherche::placeholder {
    color: #3874CB;
}

header .buttonContainer input.recherche:focus {
    outline: none;
    color: #3874CB;
}

header .buttonContainer .button.recherche {
    margin-left: 0px;
}

header .buttonContainer .button:focus {
    outline: none;
}

.contentContainer {
    background-color: #E4E4E4;
    height: calc(100% - 150px);
}

.contentContainer .list {
    height: 90%;
    overflow-y: scroll;
    padding: 50px 0px;
}

.contentContainer .list .infoContainer {
    min-height: 150px;
    width: 80%;
    margin-bottom: 50px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.contentContainer .list .infoContainer.notFound {
    padding: 75px;
    font-size: 25px;
}

.contentContainer .list .infoContainer:last-child {
    margin: 0;
}

.contentContainer .list .infoContainer hr {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid grey;
}

.contentContainer .list .infoContainer h3 {
    font-size: 20px;
}

.contentContainer .list .infoContainer p {
    margin: 0;
}

.contentContainer .list .infoContainer .sections {
    padding: 30px 20px;
    height: 100%;
}

.contentContainer .list .infoContainer .sections.borderRight {
    border-right: 1px solid black;
}

.contentContainer .list .infoContainer .sections form button{
    border: none;
    padding: 10px 20px;
    background-color: #3874CB;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    transition: transform 0.3s;
}

.contentContainer .list .infoContainer .sections form button:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.contentContainer .list .infoContainer .sections form button:focus{
    outline: none;
}

.contentContainer .pagination {
    height: 10%;
    box-shadow: -4px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.contentContainer .pagination form button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #3874CB;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin: 0px 5px;
    transition: transform 0.3s;
}

.contentContainer .pagination form button.currentPage {
    background-color: #295391;
}

.contentContainer .pagination form button:focus{
    outline: none;
}

.contentContainer .pagination form button:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.popUpContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.popUpContainer.none {
    display: none !important;
}
.popUpContainer form {
    width: 40%;
    max-height: 70%;
    border-radius: 15px;
    background-color: white;
    position: relative;
}

.popUpContainer form .closePopUp {
    top: 10px;
    right: 10px;
    position: absolute;
    width: 20px;
}

.popUpContainer form .closePopUp:hover {
    cursor: pointer;
}

.popUpContainer form p {
    margin: 0;
}

.popUpContainer form > h2 {
    font-size: 35px;
    font-weight: 600;
    padding: 20px 0px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.popUpContainer form hr {
    width: 100%;
    margin: 0px 0px 50px 0px;
    border: 1px solid black;

}

.popUpContainer .popUpInfo {
    width: 100%;
    margin-bottom: 30px;
}

.popUpContainer .popUpInfo  h2{
    font-size: 20px;
    margin: 0px 0px 15px 0px;
}

.popUpContainer .popUpInfo div {
    width: 48%;
}

.popUpContainer .popUpInfo select {
    width: 60%;
}

.popUpContainer .popUpInfo div.solo {
    width: 100%;
}

.popUpContainer .sendToDB {
    position: relative;
}

.popUpContainer .sendToDB p{
    position: absolute;
    right: 10%;
    color: red;
}

.popUpContainer .sendToDB .sendDB {
    margin: 25px 0px;
    border: none;
    color: white;
    transition: transform 0.3s;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 600;
    transition: transform 0.3;
}

.popUpContainer .sendToDB .sendDB:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.popUpContainer .sendToDB .sendDB:focus {
    outline: none;
}

.popUpContainer .sendToDB .sendDB.supprimer {
    position: absolute;
    left: 10%;
    background-color: #D83A3A;
}

.popUpContainer .sendToDB .sendDB.valider {
    background-color: #3874CB;
}