.contentContainer .list .infoContainer .numeroReservation{
    width: 15%;
}

.contentContainer .list .infoContainer .adresseMail{
    width: 25%;
}

.contentContainer .list .infoContainer .dateReservation{
    width: 20%;
}

.contentContainer .list .infoContainer .typeULM{
    width: 15%;
}

.contentContainer .list .infoContainer .statutReservation{
    width: 25%;
}

.contentContainer .list .infoContainer .statutReservation .Traité{
    background-color: #20C905;
}